<% content_for :title, "Blogs" %>
<% if notice %>
  <div class="alert alert-success text-center"> <%= notice %></div>
<% end %>
<div class="container my-4">
  <h1 class="mb-4">TODO title</h1>
</div>
<%= search_form_for @q, url:blogs_path, method: :get, html: {class:"row g-3 align-items-center mb-4"} do |f| %>
  <div class="col-auto">
    <%= f.label :title_cont, "Search by Title", class:"col-form-label" %>
  </div>
  <div class="col-auto">
    <%= f.search_field :title_cont, placeholder: "Enter title", class:"form-control" %>
  </div>
  <div class="col-auto">
    <%= f.submit "Search", class: "btn-primary" %>
  </div>
<%end%>
<div id="blogs" class="list-group mb-4">
  <% @blogs.each do |blog| %>
    <div class="list-group-item">
      <%= render blog %>
      <div class="mt-2">
        <%= link_to "Show this blog", blog, class:"btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "New blog", new_blog_path, class:"btn btn-success" %>
