<% content_for :title, "Blogs" %>
<div class="container my-4">
  <h1 class="mb-4">Blog Platform</h1>
</div>
<%= search_form_for @q, url:blogs_path, method: :get, html: {class:"row g-3 align-items-center mb-4"} do |f| %>
  <div class="col-auto">
    <%= f.label :title_cont, "Search by Title", class:"col-form-label" %>
  </div>
  <div class="col-auto">
    <%= f.search_field :title_cont, placeholder: "Enter title", class:"form-control" %>
  </div>
  <div class="col-auto">
    <%= f.submit "Search", class: "btn-primary" %>
  </div>
<%end%>
<%= form_with url: blogs_path, method: :get, local:true do %>
  <div class="mb-3">
    <%= label_tag :sort, "Sort by:" %>
    <%= select_tag :sort, options_for_select([
      ['Date(Newest)', 'date_desc'],
      ['Date(Oldest)', 'date_asc'],
      ['Author(A-Z)', 'author_asc'],
      ['Author(Z-A)', 'author_desc'],
      ['Title(A-Z)', 'title_asc'],
      ['Title(Z-A)', 'title_desc'],
    ], params[:sort]), onchange: 'this.form.submit()' %>
  </div>
<% end %>
<div id="blogs" class="list-group mb-4">
  <% @blogs.each do |blog| %>
    <div class="card mb-3">
      <div class="card-body">
        <h3><%= link_to blog.title, blog_path(blog), class:"text-decoration-none text-dark" %> </h3>
        <p class="text-muted">
          by 
          <% if blog.user.present? %>
            <%= link_to blog.user.user_name, user_path(blog.user), class: "text-decoration-none" %>
          <% else %>
            <em>Deleted</em>
          <% end %>
          Created <%= formatted_blog_date(blog) %>
        </p>
        <%= truncate(strip_tags(blog.body.to_s), length:200) %>
        <%= link_to "Read More", blog_path(blog), class:"btn btn-sm btn-outline-secondary mt-2" %>
      </div>
    </div>
  <% end %>
</div>
<%= link_to "New blog", new_blog_path, class:"btn btn-success" %>
