<h2 class="mb-4">Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"needs-validation" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mb-3">
    <%= f.label :email, class:"form-label" %>
    <%= f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email" %>
  </div>
  <div class="mb-3">
    <%= f.label :user_name, class:"form-label" %><br />
    <%= f.text_field :user_name,class:"form-control", autofocus: true %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="alert alert-warining">Currently waiting confirmation for: 
      <strong><%= resource.unconfirmed_email %></strong>
    </div>
  <% end %>
  <div class="mb-3">
    <%= f.label :password, class:"form-label" %>
    <small class="form-tetxt form-muted">(leave blank if you don't want to change it)</small>
    <%= f.password_field :password, class:"form-control", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <div class="form-text text-muted"><%= @minimum_password_length %> characters minimum</div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, class:"form-label" %>
    <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password" %>
  </div>
  <div class="mb-3">
    <%= f.label :current_password, class:"form-label" %>
    <small class="form-tetxt form-muted">(we need your current password to confirm your changes)</small>
    <%= f.password_field :current_password, class:"form-control", autocomplete: "current-password" %>
  </div>
  <div class="mb-3">
    <%= f.submit "Update", class:"btn btn-primary" %>
  </div>
<% end %>
<hr class="my-4">
<h3>Cancel my account</h3>
<p class="text-muted">Do you want to delete your blogs along with your account?</p>
<div class="form-check mb-3">
  <%= form_with url: cancel_account_path, method: :delete, data: {turbo:false} do |f|%>
    <%= f.check_box :delete_blogs, class: "form-check-input" %>
    <%= f.label :delete_blogs, "Delete my blogs", class:"form-check-label" %><br>
    <%= button_to "Cancel my account",
      cancel_account_path,
      method: :delete,
      class: "btn btn-outline-danger mb-4",
      data: {
        controller: "confirm",
        action: "confirm#ask",
        confirm_message_value: "Are you absolutely sure you want to delete your account?"
      } %>
  </div>
<% end %>
<%= link_to "Back", request.referrer || root_path, class:"btn btn-secondary"%>