<h1>Admin Dashboard</h1>
<h2>Users</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Username</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %> </td>
        <td><%= user.email %> </td>
        <td><%= user.user_name %> </td>
        <td><%= user.admin? ? "Yes" : "No" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>Blogs</h2>
<%= search_form_for @q, url:admin_dashboard_path, method: :get, html: {class:"row g-3 mb-4"} do |f| %>
  <div class="col-md-4">
    <%= f.label :title_cont, "Title contains"%>
    <%= f.search_field :title_cont, class:"form-control" %>
  </div>

  <div class="col-md-4">
    <%= f.label :user_user_name_cont, "Author contains"%>
    <%= f.search_field :user_user_name_cont, class:"form-control" %>
  </div>

  <div class="col-md-4">
    <%= f.label :created_at_gteq, "Created after"%>
    <%= f.search_field :created_at_gteq, class:"form-control" %>
  </div>
  <div class="col-md-4">
    <%= f.label :created_at_lteq, "Created before"%>
    <%= f.search_field :created_at_lteq, class:"form-control" %>
  </div>

  <div class="col-md-12">
    <%= f.submit "Filter", class:"btn btn-ouline-primary" %>
    <%= link_to "Clear", admin_dashboard_path, class: "btn btn-outline-secondary ms-2" %>
  </div>
  <% end %>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.id %> </td>
        <td><%= blog.title %> </td>
        <td><%= blog.user.try(:user_name) || "Deleted" %> </td>
        <td>
          <%= link_to "View", blog_path(blog), class: "btn btn-sm btn-outline-primary" %>
          <%= button_to "Delete", blog_path(blog), method: :delete, data: { turbo_confirm: "Are you sure?" }, class:"btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>