<%# PROFILE PAGE %>
<h1><%= @user.user_name%></h1>
<%= @user.email%>
<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title">
        <%= @user.user_name.presence %>
      </h2>
      <hr>
      <p><strong>Email:</strong><%= @user.email %> </p>
      <p><strong>Username:</strong><%= @user.user_name %> </p>
      <p><strong>Member since:</strong><%= @user.created_at.strftime("%d %B %Y") %> </p>
      <%# Edit profile %>
      <% if user_signed_in? && current_user == @user %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class:'btn btn-outline-primary mt-3' %>
      <% end %>
    </div>
  </div>
</div>