<%# PROFILE PAGE %>
<h1><%= @user.user_name%></h1>
<%= @user.email%>
<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="card-title">
        <%# Profile pic %>
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar.variant(resize_to_limit: [100,100]), class:"rounded-circle" %>
        <% else %>
          <%= image_tag "default-avatar.jpg", size:"100x100", class:"rounded-circle" %>
        <% end %>
        <%= @user.user_name.presence %>
      </h2>
      <hr>
      <%# Bio %>
      <% if @user.bio.present? %>
        <p><strong>Bio:</strong><%= @user.bio%> </p>
      <% end %>
      <p><strong>Email:</strong><%= @user.email %> </p>
      <p><strong>Username:</strong><%= @user.user_name %> </p>
      <p><strong>Member since:</strong><%= @user.created_at.strftime("%d %B %Y") %> </p>
      <%# Edit profile %>
      <% if user_signed_in? && current_user == @user %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class:'btn btn-outline-primary mt-3' %>
      <% end %>
    </div>
  </div>
</div>
<h3 class="mb-3">Featured Blogs</h3>
<% @user.blogs.where(featured:true).limit(3).each do |blog| %>
<div class="card mb-3 shadow-sm rounded-3 border-0">
  <div class="card-body">
    <h5 class="card-title mb-2"><%= link_to blog.title, blog_path(blog), class:"text-decoration-none text-dark fw-semibold" %> </h5>
    <p class="card-text text-muted mb-0"><%= truncate(blog.body.to_plain_text, length:100)%> </p>
  </div>
</div>
<% end %>